* text=auto

*.md text eol=lf
*.cff text eol=lf
*.html text eol=lf
*.json text eol=lf
*.py text eol=lf
*.sha256 text eol=lf
*.txt text eol=lf
*.xml text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
.gitattributes text eol=lf
.gitignore text eol=lf
LICENSE text eol=lf

*.docx binary
*.gz binary
*.jpg binary
*.pdf binary
*.xlsx binary
